@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /*--------- fonts----------*/

--fs-base-400 : 16px;
--fw-regular-400 : 400;
--fw-semibold-600 : 600;
--fw-bold-700 : 700;

--form-control-disabled: #959495
}





header {
    height: 80px;
    background-color: #CE0505;
    
}

body{
    width: 1366px;
    margin: auto;
}

.header-content{
    padding: 14px 102px;
    position : relative;
}

.logo-span {
    background-color: #ffff;
    width: 52px;
    height: 52px;
    padding: 5px 15px;
    border-radius: 50%;
    position: absolute;
}
.logo{
    color: #EB2929;
    position: absolute;
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: 600;
}

.login-createAcct{
    position: absolute;
    right: 102px;
    top: 24px;
}

a {
    color: #ffff;
    text-decoration: none;
}

.createAcct{
    
    padding: 9px 15px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    opacity: 1;
}

.login{
    margin-right: 15px;
}

.main-body{
    position: relative;
    padding: 50px 113px;
}
    

.title-text{
    /* position: absolute; */
    font-size: 36px;
    color: #192F60;
    font-weight: bold;
    margin: 15px;
}

.article__filter{
    width: 260px;
    height: 682px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding: 15px 25px;
}



.article__result1{
    position: absolute;
    top: 134px;
    left: 418px;
    width: 794px;
    height: 291px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.article__result2{
    position: absolute;
    top: 464px;
    left: 418px;
    width: 794px;
    height: 291px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.pagination {
    color: black;
    position: absolute;
    left: 40%;
    bottom: 20px;
}



.page_number_span {
    
    background-color: #8C96AB;
    margin-left: 8px;
    width: 52px;
    height: 52px;
    padding: 5px 15px;
    border-radius: 20%;

}

/* label{
   
    margin-bottom: 14px;
    margin-top: 12px;
} */

.filter__light-texts{
    color: #8C96AB;
    font-size: 14px;
    
}
.filter__main-text{
    color: #192F60;
    font-weight: 600;
    font-size: 18px;
}
.filter__subtexts{
    color: #192F60;
    font-weight: 400;
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 14px;
}
#filter__SelectLocation{
    margin: 11px 0;
}
#filter__Cuisine{
    margin-top: 22px;
} 
 #filter__Cost{
    margin-top: 26px;
} 
 
#filter__Sort {
    margin-top: 29px;
} 


.label__content{
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    align-items: center;
    margin-bottom: 11px;
    margin-top: 11px;
}

/* hide native checkboox input  */
input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;

/* add custom unchecked checkbox styles  */
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
 
  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
  
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }
  
  .food_preview{
    width: 120px;
    height: 120px;
    background: url(./images/shutterstock_1154073754@2x.png);
    background-size: contain;
    border-radius: 10px;
  }   /* HOW CAN IMAGE BE MADE TO FIT INTO BORDER? */

  .result_content, .result_cost{
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
  }